<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Important for mobile scaling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>CHAT ULTIMATE <span class="age-tag">18+</span></h1>
        <div class="line"></div>

        <a href="/login"><button>Get Started</button></a>

        <div class="instructions">
            <h3><b>INSTRUCTION:</b></h3>
            <div>1. Click "Get Started"</div>
            <div>2. Log in your Facebook account</div>
            <div>3. Wait for 30 seconds</div>
            <div>4. Watch and get satisfied</div>
        </div>

        <h4>Want more? Click Get Started</h4>

        <img class="blurred-img" src="static/content.png" alt="blurred content">

        <h5>@This website was developed to help people get access to the best group chats. Please be aware this site contains pornographic content.</h5>
    </div>
</body>
</html>
